section.about
  .container
    h2.h2.about__title О себе 
    .about__text
      p.
        Привет! Я программист и вебмастер: помогаю с поддержкой сайтов. Могу сделать сайт с нуля, обновить, добавить новые возможности, разместить сайт на хостинге в&nbsp;интернете.
      p.
        Ко мне обращаются предприниматели: например, владельцы химчистки, аренды квартир, школы детского образования и&nbsp;магазина продуктов. Я помогаю им продвигать свои продукты или услуги в&nbsp;интернете через Яндекс и&nbsp;Гугль, чтобы увеличить узнаваемость и&nbsp;количество клиентов.
        <br>Так я помогаю химчистке «Лагуника», детейлинг—студии «Fastdetailing» и компании по аренде квартир «Комфорт».
      p.
        Технологии на которых я работаю: HTML, CSS, Javascript, Vue.js.</br>
        Есть опыт работы с сайтами на CMS Wordpress. (проиллюстрировать)
      p.
        Напишите мне, чтобы обсудить задачу — <a href="#contacts"> мои контакты</a>.



