section.projects
  .container
    h2.h2.projects__title Коммерческие проекты
    .project
      .project__prev
        a(href="#")
          .mockup
            .mockup__chrome
              img(src="assets/img/chrome.svg")
            .mockup__content
              img(src="assets/img/lagunika-main.png")
      .project__desc
        h3
          a(href="#") Сайт компании «Лагуника»
        span Компания занимается химчисткой ковров, мебели, игрушек, автокресел.