section.projects
  .container
    h2.h2.projects__title Коммерческие проекты
    .project
      .project__prev
        img(src="assets/img/project-lagunika.png")
      .project__desc
        h3 Сайт компании «Лагуника»
        span Компания занимается химчисткой ковров, мебели, игрушек, автокресел.
    .project
      .project__prev
        img(src="assets/img/project-lagunika.png")
      .project__desc
        h3 Сайт компании «Лагуника»
        span Компания занимается химчисткой ковров, мебели, игрушек, автокресел.