section.welcome-screen
  .welcome-preview
    .preview-desc
      h1.preview-desc__title Портфолио
      .preview-desc__text
        span.desc-text__name Андрей Раданцев
        span.desc-text__profession Разработчик сайтов <br>и начинающий редактор
    .preview-img
      img(src="assets/img/andrey-radantsev.jpg" alt="Фото Андрея Раданцева").preview-img__img
