include ../mixins/icons
doctype html
head
  include ../meta/common/head
body
  .wrapper
    include common/header
    include index/welcome-screen
    include index/about
    include index/projects
    include index/contacts
    
    //- include common/form
    include common/footer
  include ../meta/common/scripts
