include ../mixins/icons
doctype html
head
  include ../meta/common/head
body
  .wrapper
    include common/header
    include index/first-screen
    
    //- include common/form
    include common/footer
  include ../meta/common/scripts
