script(src='assets/js/foundation.js' defer)
script(src='assets/js/libs/slick.min.js' defer)
script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.js' defer)
script(src='assets/js/libs/inputmask.js' defer)
script(src='assets/js/app.js' defer)