.about {
  margin-bottom: 100px;

  @include phone() {
    margin-bottom: 80px;
	}

  &__text {
    width: 70%;
    font-size: 25px;

    @include phone() {
      width: 100%;
      font-size: 18px;
      line-height: 24px;
    }

    p {
      @include phone() {
        margin-bottom: 20px;
      } 
    }

    a {
      text-decoration: underline;
    }
  }
}